.about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Set height as needed */
  width: 95%;
  border-radius: 10px;  
  border: 5px solid #0ef; 
  box-sizing: border-box;
  padding: 20px;
  margin-top: 98vh;
  margin-bottom: 70vh;
  background-color: rgb(248, 245, 241);

}


.about-container {
  display:inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 80%; /* Adjust the width as needed */
  height:50%;
  gap: 20px; /* Space between the paragraphs */
}
.intro{
  font-size: 3vw;
  color: #484545;
  text-align: left;
  margin-top: 4vh;

}

.two{
  text-align: left;
  font-size:1.2vw; 
  color: rgb(0, 0, 0);
}
